{% extends "base.html" %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <form class="d-flex"
          action="{{ url_for("search.get_search_route") }}"
          method="get">
        <select class="form-select"
                aria-label="Filter By Puzzle Type"
                name="puzzle_type">
            <option value="" selected>Puzzle Type</option>
            {% for row in all_puzzle_types %}<option value="{{ row.external_id }}">{{ row.display_name }}</option>{% endfor %}
        </select>
        <input class="form-control me-2"
               type="search"
               placeholder="Search"
               aria-label="Search"
               name="query">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
{% endblock content %}
