{% import 'macros/results.html' as results %}
{% extends "base.html" %}
{% block title %}
    Puzzles
{% endblock title %}
{% block content %}
    <h1>Puzzles</h1>
    {% call(puzzle) results.grid(puzzle_page) %}
        <img src="{{ url_for('static', filename='/assets/cube.png') }}"
             class="card-img-top p-3"
             alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ url_for('puzzles.get_puzzle_route', external_id=puzzle.external_id) }}">
                    {{ puzzle.manufacturer.display_name }} {{ puzzle.display_name }}
                </a>
            </h5>
            <p class="card-text">{{ puzzle.puzzle_type.display_name }}</p>
        </div>
    {% endcall %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page <= 1 %}
                {% set left_disabled = "disabled" %}
            {% else %}
                {% set left_link = url_for('puzzles.get_puzzle_page_route', page=page-1) %}
            {% endif %}
            <li class="page-item">
                <a class="page-link {{ left_disabled }}"
                   href="{{ left_link }}"
                   aria-label="Previous">
                    <span>«</span>
                </a>
            </li>
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ url_for('puzzles.get_puzzle_page_route', page=page-1) }}">{{ page-1 }}</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link active"
                   href="{{ url_for('puzzles.get_puzzle_page_route', page=page) }}">{{ page }}</a>
            </li>
            {% if page < num_pages %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ url_for('puzzles.get_puzzle_page_route', page=page+1) }}">{{ page+1 }}</a>
                </li>
            {% endif %}
            {% if page >= num_pages %}
                {% set right_disabled = "disabled" %}
            {% else %}
                {% set right_link = url_for('puzzles.get_puzzle_page_route', page=page+1) %}
            {% endif %}
            <li class="page-item">
                <a class="page-link {{ right_disabled }}"
                   href="{{ right_link }}"
                   aria-label="Next">
                    <span>»</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock content %}
