{% import 'macros/results.html' as results %}
{% extends "base.html" %}
{% block title %}
    Search
{% endblock title %}
{% block content %}
    <h1>Search</h1>
    <form class="d-flex"
          action="{{ url_for("search.get_search_route") }}"
          method="get">
        <select class="form-select"
                aria-label="Filter By Puzzle Type"
                name="puzzle_type">
            <option value="" {% if puzzle_type is none %}selected{% endif %}>Puzzle Type</option>
            {% for row in all_puzzle_types %}
                <option {% if puzzle_type == row.external_id %}selected{% endif %}
                        value="{{ row.external_id }}">{{ row.display_name }}</option>
            {% endfor %}
        </select>
        <input class="form-control me-2"
               type="search"
               placeholder="Search"
               aria-label="Search"
               name="query"
               value="{{ query if query is not none else '' }}">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
    {% call(puzzle) results.grid(puzzles) %}
        <img src="{{ url_for('static', filename='/assets/cube.png') }}"
             class="card-img-top p-3"
             alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ url_for('puzzles.get_puzzle_route', external_id=puzzle.external_id) }}">
                    {{ puzzle.manufacturer.display_name }} {{ puzzle.display_name }}
                </a>
            </h5>
            <p class="card-text">{{ puzzle.puzzle_type.display_name }}</p>
        </div>
    {% endcall %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page <= 1 %}
                {% set left_disabled = "disabled" %}
            {% else %}
                {% set left_link = url_for('puzzles.get_puzzle_page_route', page=page-1) %}
            {% endif %}
            <li class="page-item">
                <a class="page-link {{ left_disabled }}"
                   href="{{ left_link }}"
                   aria-label="Previous">
                    <span>«</span>
                </a>
            </li>
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ url_for('puzzles.get_puzzle_page_route', page=page-1) }}">{{ page-1 }}</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link active"
                   href="{{ url_for('puzzles.get_puzzle_page_route', page=page) }}">{{ page }}</a>
            </li>
            {% if page < num_pages %}
                <li class="page-item">
                    <a class="page-link"
                       href="{{ url_for('puzzles.get_puzzle_page_route', page=page+1) }}">{{ page+1 }}</a>
                </li>
            {% endif %}
            {% if page >= num_pages %}
                {% set right_disabled = "disabled" %}
            {% else %}
                {% set right_link = url_for('puzzles.get_puzzle_page_route', page=page+1) %}
            {% endif %}
            <li class="page-item">
                <a class="page-link {{ right_disabled }}"
                   href="{{ right_link }}"
                   aria-label="Next">
                    <span>»</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock content %}
